<div class="captcha-container">
  <form [formGroup]="captchaForm" (ngSubmit)="onSubmit()">
    <h2>{{ challenge.prompt }}</h2>

    <div *ngIf="challenge.type === 'math'" class="math-challenge">
      <app-captcha-image [text]="challenge.math!.a + ' ' + challenge.math!.op + ' ' + challenge.math!.b"></app-captcha-image>
      <input type="text"
             formControlName="answer"
             placeholder="Enter your answer"
             autocomplete="off">
    </div>

    <div *ngIf="challenge.type === 'text'" class="text-challenge">
      <app-captcha-image [text]="challenge.text!.value"></app-captcha-image>
      <input type="text"
             formControlName="answer"
             maxlength="6"
             placeholder="Type the characters"
             autocomplete="off">
    </div>

    <button type="submit"
            class="submit-btn"
            [disabled]="!captchaForm.valid">
      Next
    </button>
  </form>
</div>